<!-- {{! Previous/next page links - only displayed on page 2+ }} -->
<!-- <div class="extra-pagination inner"> -->
<!--     {{pagination}} -->
<!-- </div> -->

{{! This is the post loop - each post will be output using this markup }}
<section class="article--centered">
{{#foreach posts}}
  <article class="loop">
    <a href="{{url}}">
      <h1>{{title}}</h1>
      {{#author}}
      {{/author}}
      <p>{{excerpt words="30"}}...</p>
    </a>
    <hr>
  </article>
{{/foreach}}
</section>
<!-- {{! Previous/next page links - displayed on every page }} -->
<!-- {{pagination}} -->
